<nav class="main__nav categories-nav">
    <ul class="categories-nav__list">
        <li class="categories-nav__item">
            <a href="/categories/footwear" class="categories-nav__link">Взуття</a>
        </li>
        <li class="categories-nav__item">
            <a href="/categories/pants" class="categories-nav__link">Штани</a>
        </li>
        <li class="categories-nav__item">
            <a href="/categories/belts" class="categories-nav__link">Ремені</a>
        </li>
        <li class="categories-nav__item">
            <a href="/categories/gloves" class="categories-nav__link">Рукавиці</a>
        </li>
        <li class="categories-nav__item">
            <a href="/categories/bags" class="categories-nav__link">Сумки</a>
        </li>
        <li class="categories-nav__item">
            <a href="/categories/plate_carriers" class="categories-nav__link">Плитоноски</a>
        </li>
    </ul>    
</nav>