<header class="wrapper__header header">
    <h1 class="header__heading">
        <a class="header__heading-link">MILITARY STUFF</a>
    </h1>
    <p class="header__additional-text">Магазин тактичних речей</p>
    <nav class="header__nav top-nav">
        <ul class="top-nav__list">
            <li class="top-nav__item">
                <a href="" class="top-nav__link">Про нас</a>
            </li>
            <li class="top-nav__item">
                <a href="" class="top-nav__link">Контактні дані</a>
            </li>
        </ul>
    </nav>
    <button class="header__mobile-nav-btn mobile-nav-btn mobile-nav-btn_disabled">
        <img src="../img/icons/menu-icon.svg" alt="" class="mobile-nav-btn__img">
    </button>
    <nav class="header__mobile-nav mobile-nav">
        <button class="mobile-nav__close-btn close-btn">
            <img src="../img/icons/close.svg" alt="" class="close-btn__img">
        </button>
        <ul class="mobile-nav__list">
            <li class="mobile-nav__item">
                <a href="/categories/footwear" class="mobile-nav__link">Взуття</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/categories/pants" class="mobile-nav__link">Штани</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/categories/belts" class="mobile-nav__link">Ремені</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/categories/gloves" class="mobile-nav__link">Рукавиці</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/categories/bags" class="mobile-nav__link">Сумки</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/categories/plate-carriers" class="mobile-nav__link">Плитоноски</a>
            </li>
        </ul> 
    </nav>
</header>