<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Military stuff</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/wrapper.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/top-nav.css">
    <link rel="stylesheet" href="/css/mobile-nav-btn.css">
    <link rel="stylesheet" href="/css/mobile-nav.css">
    <link rel="stylesheet" href="/css/close-btn.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/categories-nav.css">
    <link rel="stylesheet" href="/css/most-popular.css">
    <link rel="stylesheet" href="/css/product-card.css">
    <link rel="stylesheet" href="/css/new-products.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="../js/mobile-menu.js" defer></script>
</head>
<body>
    <div class="wrapper">
        {{> header}}
        <main class="wrapper__main main">
            <section class="main__container">
                {{> categoriesNav}}
                {{> mostPopular}}
            </section>
        </main>
        {{> newProducts}}
        {{> footer}}
    </div>
</body>
</html>