<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/payment.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <form class="form wrapper__form">
            <div class="form__data-block">
                <label class="form__label" for="name">Ім'я</label>
                <input class="form__text-input" type="text" id="name">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="password">Прізвище</label>
                <input class="form__text-input" type="password" minlength="4" id="password">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="passwordConfirmation">По-батькові</label>
                <input class="form__text-input" type="password" minlength="4" id="passwordConfirmation">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="email">Адреса доставки</label>
                <input class="form__text-input" type="text" id="email">
            </div>
            <div class="form__card-data card-data">
                <div class="card-data__number-block">
                    <label for="" class="card-data__label">Номер картки</label>
                    <input type="text" class="card-data__number-input">
                </div>
                <div class="card-data__date-block">
                    <label for="" class="card-data__label">Дата</label>
                    <input type="text" class="card-data__date-input">
                </div>
                <div class="card-data__cvv-block">
                    <label for="" class="card-data__label">CVV</label>
                    <input type="text" class="card-data__cvv-input">
                </div>
            </div>
            <input class="form__btn" type="button" id="sendBtn" value="Надіслати">
        </form>
    </div>
</body>
</html>