<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/payment.css">
    <script src="../js/handle-order-button-click.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <form class="form wrapper__form">
            <p class="form__text">Товар: {{productInfo.name}}</p>
            <p class="form__text">Кількість: {{quantity}}</p>
            <div class="form__data-block">
                <label class="form__label" for="name">Ім'я</label>
                <input class="form__text-input" type="text" id="name">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="surname">Прізвище</label>
                <input class="form__text-input" type="text" minlength="4" id="surname">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="patronymic">По-батькові</label>
                <input class="form__text-input" type="text" minlength="4" id="patronymic">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="phone-number">Мобільний номер</label>
                <input class="form__text-input" type="text" minlength="13" id="phone-number">
            </div>
            <div class="form__data-block">
                <label class="form__label" for="address">Адреса доставки</label>
                <input class="form__text-input" type="text" id="address">
            </div>
            <div class="form__card-data card-data">
                <div class="card-data__number-block">
                    <label for="card-number" class="card-data__label">Номер картки</label>
                    <input type="text" class="card-data__number-input" id="card-number">
                </div>
                <div class="card-data__date-block">
                    <label for="date" class="card-data__label">Дата</label>
                    <input type="date" class="card-data__date-input" id="date">
                </div>
                <div class="card-data__cvv-block">
                    <label for="cvv" class="card-data__label">CVV</label>
                    <input type="number" class="card-data__cvv-input" id="cvv">
                </div>
            </div>
            <input class="form__btn" type="button" id="sendBtn" value="Надіслати">
        </form>
    </div>
</body>
</html>