* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    min-height: 100%;
}

.wrapper {
    background-color: rgb(64, 64, 64);
}

.wrapper__header {
    position: relative;
}

.header {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

.header__heading {
    font-family: 'Montserrat', serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: rgb(200, 200, 200)
}

.header__additional-text {
    margin-bottom: 20px ;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: rgb(200, 200, 200)
}

.header__nav {
    width: 200px;
}

.top-nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.top-nav__link {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.top-nav__link:hover {
    color: rgb(150, 150, 200);
}

.header__mobile-nav-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.mobile-nav-btn {
    display: none;
    background-color: rgb(64, 64, 64);
    border: 0px;
    border-radius: 50%;
    padding: 7px;
}

.mobile-nav-btn__img {
    display: block;
    width: 100%;
    height: 100%;
}

.main {
    padding: 0 20px;
}

.main__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.main__nav {
    width: 250px;
}

.categories-nav__list {
    list-style-type: square;
    list-style-position: inside;
}

.categories-nav__item {
    margin-bottom: 3px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(200, 200, 200);
    background-color: rgb(32, 32, 32);
}

.categories-nav__item:last-child {
    margin: 0
}

.categories-nav__link {
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.main__most-popular {
    margin-bottom: 20px;
    background-color: rgb(32, 32, 32);
}

.most-popular {
    padding: 20px;
}

.most-popular__heading {
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: rgb(200, 200, 200);
}

.most-popular__products-container {
    display: flex;
    justify-content: center;
}

.most-popular__product-info {
    width: 250px;
}

.most-popular__line {
    width: 4px;
    height: auto;
    margin: 0 20px;
    border: none;
    border-radius: 2px;
    background-color: rgb(64, 64, 64);
}

.product-info__name {
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(200, 200, 200);
}

.product-info__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-info__price {
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(200, 200, 200);
}

.product-info__btn {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(200, 200, 200);
    border: 2px solid rgb(200, 200, 200);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.new-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-top: 2px solid rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
}

.new-products__heading {
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: rgb(200, 200, 200);
}

.new-products__products-container {
    display: flex;
    justify-content: center;
}

.new-products__product-info {
    width: 250px;
}

.new-products__line {
    width: 4px;
    height: auto;
    margin: 0 20px;
    border: none;
    border-radius: 2px;
    background-color: rgb(32, 32, 32);
}
.footer {
    padding: 20px;
    background-color: rgb(16, 16, 16);
}

.footer__text {
    margin-bottom: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(200, 200, 200);
}

.footer__text:last-child {
    margin: 0;
}

@media(min-width: 961px) and (max-width: 1200px) {
    .mobile-nav-btn {
        display: block;
    }

    .main__container {
        justify-content: center;
    }

    .categories-nav {
        display: none;
    }
}

@media(min-width: 641px) and (max-width:960px) {
    .most-popular__product-info:last-child {
        display: none;
    }

    .most-popular__line:last-of-type {
        display: none;
    }

    .new-products__product-info:last-child {
        display: none
    }

    .new-products__line:last-of-type {
        display:none;
    }
}

@media(max-width: 640px) {
    .header__mobile-nav-btn {
        position: fixed;
        bottom: 100px;
        right: 20px;
    }   

    .mobile-nav-btn {
        border: 1px solid rgb(32, 32, 32);
    }
}