.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(64, 64, 64);
}

.wrapper__header {
    position: relative;
}

.wrapper__footer {
    margin: auto 0 0;
}